# Everyone hates swaps
*.swp

# Results of compilation
bin/
obj/
giants

# Junk OS files
*.DS_STORE

# Unneeded notes
NOTES

# TODO Include this eventually
tools/

# Files for image editing
share/images/pixens
